@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #242424;
  font-family: "Cairo", sans-serif;
  background-color: white;
  font-size: 1rem;

}
.ant-btn{
  font-family: "Cairo", sans-serif;
  background-color: rgb(8 145 178);
  color: white;
}








.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 1rem;
}

input{
  background: transparent;
}

/* // remove input :focus  */
input:focus {
  outline: none;
}

.debug {
  border: 1px solid red;
  > * {
    border: 1px solid blue;
    > * {
      border: 1px solid green;
    }
  }
}


input[type=number] {
  -moz-appearance: textfield;
}